

html {
    background: linear-gradient(45deg, rgb(238,208,7) 0%,rgb(255,48,0) 51%,rgb(10,19,141) 100%) ;
    background-repeat: no-repeat;

}

body{
    background-image: url("Carte.png");
    margin: 0 auto;
    height: 100vh
}


.image_arriere_plan{
width: inherit;
    height: inherit;
    background-image: url("Carte.png");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
}

.bloc_1{
    width: 100%;
    height: 993px;
    background-color: #000000;
    opacity:0.6;
    filter:alpha(opacity=50);
    margin-top: -62%;
    flex-shrink: 2;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 900px;
    margin: auto;
    margin-top: 5%;
    flex-shrink: 2;


}

.bloc_2{
    display: flex;
    justify-content: center;
    height: 331px;
    position: relative;
    background-color: #666;
}

.container_carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 900px;
    margin: auto;


}

.bloc_3{
    display: flex;
    position: relative;
    justify-content: center;
    height: 331px;
    background-color: #dcdde1;
}

.container_video_et_message{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 900px;
    margin: auto;

}


#myVideo{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


@media (min-aspect-ratio: 16/9) {
    #myVideo {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #myVideo {
        width:auto;
        height: 100%;
    }
}

.bloc_4{
    display: flex;
    justify-content: center;
    height: 350px;
    background: linear-gradient(
            rgba(53, 59, 72, 0.45),
            rgba(0, 0, 0, 0.45)
    ),url(/resources/image/Blue_Chair.JPG);
    background-size:auto auto;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-color: #f5f6fa;
}

.container_tab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 900px;
    margin: auto;
    margin-top: 0%;


}


.bloc_5{
    display: flex;
    justify-content: center;
    height: 331px;
    position: relative;
    background-color: #dcdde1;

}

.container_programmes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: inherit;
    margin: auto;



}

.container_programmes > div {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.container_programmes > div >img{
    width: 70%;
    height: 85%;
    border-radius: 50%;
}

.bloc_6{
    display: flex;
    justify-content: center;
    height: 350px;

    background: linear-gradient(
            rgba(53, 59, 72, 0.45),
            rgba(0, 0, 0, 0.45)
    ),url(/resources/image/Famiglia.JPG);
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position: 50% 30%;
}

.container_invite{

}
.contener_1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 111px;
    width: inherit;
margin-bottom: 15px;
margin-top: 25px;
}

.division_1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 700px;
    height: inherit;

}

.accueil_image_reseaux_sociaux{
    width: 40px;
    height: 20px;
}

.accueil_image_logo{
    width: 50px;
    height: 50px;

}
.division_2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 200px;
    height: inherit;


}

.reseaux_sociaux{
    width: 250px;
    border-radius: 6px;
    background: rgb(186, 186, 188);
    background: rgba(246, 246, 246, 0.7);
}

.contener_2{
    width: 100%;
}

.contener_3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    height: 220px;
    margin-top: 5px;

}

.accueil_bloc_video_et_message{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: inherit%;
    height: 100%;
    border-radius: 6px;
    border: 4px outset #000000;
    background: rgba(255, 255, 255, 0.7);
}

.accueil_bloc_menu_vertical{
    display: flex;
    align-self: center;
    margin-left: 1%;
    margin-top: 6px

}

.contener_4{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top:13px;
    width: 100%

}

.accueil_bloc_image_texte{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.accueil_bloc_image{
    width: 100%;
    height: inherit;
}

.accueil_bloc_image > img{
    width: 100%;
    height: inherit;
}

.accueil_carousel_images{
    width: inherit;
}

.contener_5{

}

.contener_6{
    width: inherit;
    margin-top:35px;
}

.accueil_image_invite{
    width: inherit;
    height: inherit;
}


body{
    font-family: "Bookman Old Style";
    background-image: url('./image/Carte.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

/* define a fixed width for the entire menu */
.navigation {
    width: 300px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
    display: block;
    background-color: #cb2f00;
    text-decoration: none;
    padding: 10px;
    color: #000;
    border-radius: 2px;
    font-weight:bold;
    font-size: 1.1em

}

/* add hover behaviour */
.mainmenu a:hover {
    background: linear-gradient(45deg, rgb(238,208,7) 0%,rgb(255,48,0) 51%,rgb(10,19,141) 100%) ;

}

.mainmenu > li{

    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 20px white;

}

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
    background-color: #999;

}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
    background-color: #666;

}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}


.overflowElement {
    background-color: lightblue;
    width: 1085px;
    height: inherit;
    overflow: auto;
}

#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0 .5em 0 0;
}

#tabs a {
    position: relative;
    background: #ddd;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    padding: .7em 3.5em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: 5px 0 0 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
    background: #fff;
}

#tabs a:focus {
    outline: 0;
}

#tabs a::after {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;
    bottom: 0;
    width: 1em;
    background: #ddd;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    transform: skew(10deg);
    border-radius: 0 5px 0 0;
}

#tabs #current a,
#tabs #current a::after {
    background: #fff;
    z-index: 3;
}

#tab1,#tab2,#tab3{
    height: inherit;
    display: flex;
    flex-wrap: nowrap;
    width: inherit;

}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #c41b00, #ca3000, #cf3f00, #d44d00, #d95a00, #df6700, #e47300, #e97f00, #ef8f00, #f59f00, #f9af00, #fdbf00);
    padding: 2em;
    height: 220px;
    position: relative;
    z-index: 2;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    width: 840px;
}

.global_footer{

    font-size: 0.5em;
    display:flex;
    flex-wrap: nowrap;
    width:100%;
    height:35px;
    margin-top: 100px;
    background-color: #6a0300;
}

.contener_programmes_1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.contener_programmes_2{
    width: 330px;
    height: 236px;
    margin-right: 20px;
    margin-top: 8px;
}

.programmes_button{
    border: none;
    cursor: pointer;
    width: inherit;
    height: inherit;
}
.programmes_images{
    width: inherit;
    height: inherit;
}




		